@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*[data-theme="default"] {
   --font-family: 'Montserrat', sans-serif;
    --background-color: #3b3c85;
    --text-color: #FFFFFF;
    --navbar: #2d2563;
    --navbar-alt: #7260ab;
    --navbar-title: #FFFFFF;
    --navbar-compliment: #bfadd3;
    --title-color: #a792d2;
    --title-alt: #d5baf2;
}

*[data-theme="moon"] {
    --font-family: 'Montserrat', sans-serif;
    --background-color: #3b3c85;
    --text-color: #FFFFFF;
    --navbar: #2d2563;
    --navbar-alt: #7260ab;
    --navbar-title: #FFFFFF;
    --navbar-compliment: #bfadd3;
    --title-color: #a792d2;
    --title-alt: #d5baf2;
}

*[data-theme="heroic"] {
 
}

*[data-theme="sunrise"] {
  
}

*[data-theme="retro"] {

}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}
