@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*[data-theme="default"] {
   --font-family: 'Bungee', sans-serif;
    --text-color: #FFFFFF;
    --navbar-alt: #7260ab;
    --navbar-title: #7260ab;
    --navbar-compliment: #bfadd3;
    --title-color: #7260ab;
    --title-alt: #d5baf2;
}


body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    
    background-image: url("https://th.bing.com/th?id=OIP.NJGsVj9lAxN3GWaulyoVVwHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
}


