@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*[data-theme="default"] {
   --font-family: 'Montserrat', sans-serif;
   --text-color: #FFFFFF;
   --navbar-alt: #4023a0;
   --navbar-title: #4023a0;
   --navbar-compliment: #3e146d;
   --title-color: #4023a0;
   --title-alt: #d5baf2;
}


body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    
    background-image: url("https://th.bing.com/th?id=OIP.NJGsVj9lAxN3GWaulyoVVwHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
}



