@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body {
    background: #22272e;
}

.title {
    line-height: 550px;
    text-align: center;
    margin: auto;
    
    font-size: 150px;
    color: #50a6fd;
  font-family: 'DynaPuff', cursive;
  }
  .title a {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
  }
  
  .title a:hover {
    -webkit-transform: scale(1.2) rotate(0.01deg);
    transform: scale(1.2);
    display: inline-block;
  }



  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color:#181b20;
  }
  
  .logo {
    margin-right: auto;
  
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: 'DynaPuff', cursive;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #50a6fd;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #50a6fd;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #22272e;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

  .gameimg {
    display: grid;
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 55px;
  margin-top: 100px;
  background-color: transparent;
  overflow: visible;
  border-radius: 10px;
  }
  
  
  
  
  img {
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  transition: 1s;
  
   }
  
   img:hover {
    transform: scale(1.3);
  z-index: 2;
   }

  