@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,100&display=swap');

*:not(.data-theme-mattalic) {
    --background: linear-gradient(135deg, #494E5B, rgb(42, 34, 87));
    --base-font: 'Inter', sans-serif;

    --logo-font: 'Montserrat', sans-serif;
    --logo-color: rgb(169 142 255);

    --search-background: #7e7a83;
    --search-icon-background: rgb(169 142 255);
    --search-color: #FFFFFF;
    
    --info-font: 'Montserrat', sans-serif;
    --info-color: #FFFFFF;
    
    --setting-font: 'Montserrat', sans-serif;
    --setting-toggle-off: #1F1D2E;
    --setting-toggle-hover: #26233A;
    --setting-toggle-on: #3f3580;

    --widget-bg: #7e7a83;

}

.data-theme-metallic {
    --background: linear-gradient(135deg, red, blue);
    --base-font: 'Inter', sans-serif;

    --logo-font: 'Montserrat', sans-serif;
    --logo-color: rgb(169 142 255);

    --search-background: #7e7a83;
    --search-icon-background: rgb(169 142 255);
    --search-color: #FFFFFF;
    
    --info-font: 'Montserrat', sans-serif;
    --info-color: #FFFFFF;
    
    --setting-font: 'Montserrat', sans-serif;
    --setting-toggle-off: #1F1D2E;
    --setting-toggle-hover: #26233A;
    --setting-toggle-on: #3f3580;

    --game-info-bg: red;
}